[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Damien Mayance
	email = apps@mayance.io
[alias]
	co = checkout
	st = status
	nuke = !git checkout -- \\* && git clean -fd
	sync = !git pull --rebase=preserve && git push && echo '' && git log --oneline --decorate --max-count=3
	mt = mergetool
[merge]
	tool = p4merge
[mergetool "p4merge_win"]
	path = C:/Program Files/Perforce/p4merge.exe
[mergetool "p4merge_macOS"]
	cmd = /Applications/Dev/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
        keepBackup = false
        keepTemporaries = false
        trustExitCode = false
        prompt = false
[diff]
        tool = p4merge
        renames = copies
        mnemonicprefix = true
[difftool "p4merge"]
        cmd = /Applications/Dev/p4merge.app/Contents/MacOS/p4merge "$LOCAL" "$REMOTE"
        keepBackup = false
        keepTemporaries = false
        trustExitCode = false
        prompt = false
	
[pull]
	rebase = true
[core]
	editor = nano
